.pic {
    width = 24%;
    height = 24%;
}
.KittyCard-image {
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  width:24%;
  height:24%;
}
.KittyHat-image {
  z-index: 3;
  position: absolute;
  top: 15.5%;
  left: 4.4%;
  width: 10%;
  height: 19%;
}
